.maine {
  display: flex;

  position: relative;
  min-height: 100vh;
}

#sidebar {
  width: 280px;
  height: 100vh;
  

}
.buffer {
  width: 279px;
  height: 100px;
  position: fixed;
  z-index: 9999;
}
.ml{
  left: 280px!important;
}
.sideBar {
  position: fixed;
  width: 25%;
  height: 90vh;
  margin-top: 10vh;
  overflow-y: auto;
  z-index: 1;
  background-color: brown!important;
  border: white;
  border-right: 2px solid white;

}

.topBar {
  position: fixed;
  width: 100%;
  height: 100px;
  overflow-y: auto;
  z-index: 1;
  background-color: brown!important;
  border: white;
  border-bottom: 2px solid white;

}


.tableScreen {
  margin-left: 280px;
  margin-top: 70px;;
  width: 75%;
  height: 100vh;
  overflow-y: auto;
}

.informationDisplay {
  margin-top: 100px;
}

